/**
 * @file
 * Styles for uc_cart module.
 */

/**
 * CSS rules for the order review table at /cart/checkout/review.
 */
.order-review-table {
  border: solid 1px #999;
  font-size: .9em;
  line-height: 1.4em;
  margin: auto;
  width: auto;
}

.order-review-table td {
  padding-bottom: 0.2em;
  padding-top: 0.1em;
  vertical-align: top;
}

.order-review-table .pane-title-row {
  background-color: #ddd;
  border: solid 1px #999;
  font-weight: bold;
  padding: .5em 1em;
  text-align: center;
}

.order-review-table .title-col {
  font-weight: bold;
  padding-left: 3em; /* LTR */
  text-align: right; /* LTR */
  white-space: nowrap;
}
[dir="rtl"] .order-review-table .title-col {
  padding-left: inherit;
  padding-right: 3em;
  text-align: left;
}

.order-review-table .data-col {
  padding-right: 3em; /* LTR */
}
[dir="rtl"] .order-review-table .data-col {
  padding-right: inherit;
  padding-left: 3em;
}

.order-review-table .row-border-top {
  border-top: solid 1px #999;
}

.order-review-table .row-border-bottom {
  border-bottom: solid 1px #999;
}

.order-review-table .review-button-row {
  background-color: #ddd;
  border: solid 1px #999;
}

.order-review-table .review-button-row td {
  padding-top: 1em;
  text-align: right; /* LTR */
}
[dir="rtl"] .order-review-table .review-button-row td {
  text-align: left;
}

.order-review-table .review-button-row div,
.order-review-table .review-button-row form {
  display: inline;
}

/** Cart contents pane inside order review table */
.cart-review ul.product-description {
  margin: 0;
  padding: 0 0 0 1em; /* LTR */
}
[dir="rtl"] .cart-review ul.product-description {
  padding: 0 1em 0 0;
}

.cart-review ul.product-description li {
  list-style: initial;
}

/* I cannot testify for any of the data below.. it's a hodge podge. */

.address-book-icon {
  position: relative;
  margin-left: 2px; /* LTR */
  top: 2px;
}
[dir="rtl"] .address-book-icon {
  margin-left: inherit;
  margin-right: 2px;
}

/**
 * CSS rules for the cart form at /cart.
 */
#uc-cart-view-form table {
  width: 100%;
}

#uc-cart-view-form td {
  vertical-align: top;
}

#uc-cart-view-form img {
  padding-right: .8em; /* LTR */
  float: left; /* LTR */
}
[dir="rtl"] #uc-cart-view-form img {
  padding-right: inherit;
  padding-left: .8em;
  float: right;
}

#uc-cart-view-form th {
  white-space: nowrap;
}

#uc-cart-view-form th.desc {
  width: 100%;
}

#uc-cart-view-form td.subtotal {
  text-align: right; /* LTR */
}
[dir="rtl"] #uc-cart-view-form td.subtotal {
  text-align: left;
}
#uc-cart-view-form td.subtotal-title {
  font-weight: bold;
  text-align: right; /* LTR */
}
[dir="rtl"] #uc-cart-view-form td.subtotal-title {
  font-weight: bold;
  text-align: left;
}

/**
 * Product attribute listing in cart table.
 */
#uc-cart-view-form ul.product-description {
  margin: 0;
  padding: 0 0 0 1em; /* LTR */
}
[dir="rtl"] #uc-cart-view-form ul.product-description {
  padding: 0 1em 0 0;
}

#uc-cart-view-form ul.product-description li {
  list-style: initial;
}

#uc-cart-view-form .form-actions {
  margin-top: 0;
  text-align: right; /* LTR */
}
[dir="rtl"] #uc-cart-view-form .form-actions {
  text-align: left;
}

#uc-cart-view-form .form-actions a {
  float: left; /* LTR */
  margin: .5em;
}
[dir="rtl"] #uc-cart-view-form .form-actions a {
  float: right;
}

#uc-cart-view-form #edit-continue-shopping {
  float: left; /* LTR */
  margin-left: .5em; /* LTR */
}
[dir="rtl"] #uc-cart-view-form #edit-continue-shopping {
  float: right;
  margin-left: inherit;
  margin-right: .5em;
}

#uc-cart-view-form .form-actions input {
  vertical-align: middle;
}

.uc-cart-checkout-button {
  float: right; /* LTR */
  clear: right; /* LTR */
}
[dir="rtl"] .uc-cart-checkout-button {
  float: left;
  clear: left;
}

.uc-cart-checkout-button-separator {
  text-align: center;
}

/**
 * CSS rules for the cart review table.
 */
.cart-review td.qty {
  text-align: center;
  white-space: nowrap;
}

.cart-review td.price {
  text-align: right; /* LTR */
  white-space: nowrap;
}
[dir="rtl"] .cart-review td.price {
  text-align: left;
}

.cart-review td.products {
  width: 100%;
}

.cart-review td.subtotal {
  text-align: right; /* LTR */
}
[dir="rtl"] .cart-review td.subtotal {
  text-align: left;
}
.cart-review td.subtotal-title {
  font-weight: bold;
  text-align: right; /* LTR */
}
[dir="rtl"] .cart-review td.subtotal-title {
  font-weight: bold;
  text-align: left;
}

/**
 * CSS rules for the bottom of the checkout form at /cart/checkout.
 */
.uc-cart-checkout-form .form-actions {
  text-align: right; /* LTR */
}
[dir="rtl"] .uc-cart-checkout-form .form-actions {
  text-align: left;
}
