/**
 * @file
 * Styles for the uc_cart module cart block.
 */

.cart-block-icon {
  background: transparent url(../images/cart-full.png) no-repeat left center;
  float: left; /* LTR */
  height: 16px;
  margin-right: 7px; /* LTR */
  width: 16px;
}
[dir="rtl"] .cart-block-icon {
  float: right;
  margin-left: 7px;
  margin-right: auto;
}

.cart-block-icon.empty {
  background: transparent url(../images/cart-empty.png) no-repeat left center;
}

.cart-block-arrow {
  background: transparent url(../images/arrow-up.png) no-repeat 100% 40%;
  cursor: pointer;
  padding-right: 14px; /* LTR */
}
[dir="rtl"] .cart-block-arrow {
  padding-left: 14px;
  padding-right: inherit;
}

.cart-block-arrow.collapsed {
  background: transparent url(../images/arrow-down.png) no-repeat 100% 60%;
}

.cart-block-items {
  margin: 0;
}

.cart-block-items.collapsed {
  display: none;
}

.cart-block-items tr,
.cart-block-summary tr {
  background-color: inherit;
  vertical-align: top;
}

.cart-block-items td,
.cart-block-summary tr,
.cart-block-summary tr td {
  border: 0;
}

.cart-block-item-qty {
  white-space: nowrap;
}

.cart-block-item-title {
  width: 100%;
}

.cart-block-item-price {
  text-align: right; /* LTR */
  white-space: nowrap;
}
[dir="rtl"] .cart-block-item-price {
  text-align: left;
}

.cart-block-item-desc ul.product-description {
  margin: 0;
  padding: 0 0 0 1em; /* LTR */
}
[dir="rtl"] .cart-block-item-desc ul.product-description {
  padding: 0 1em 0 0;
}

.cart-block-item-desc .product-description li {
  font-size: .8em;
  list-style: initial;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.cart-block-summary-items {
  white-space: nowrap;
}

.cart-block-summary-total {
  text-align: right; /* LTR */
  white-space: nowrap;
  width: 100%;
}
[dir="rtl"] .cart-block-summary-total {
  text-align: left;
}

.cart-block-summary-links {
  text-align: right; /* LTR */
}
[dir="rtl"] .cart-block-summary-links {
  text-align: left;
}

.cart-block-summary-links li {
  border-right: solid 1px; /* LTR */
  display: inline;
  padding: 0 1em 0 .75em; /* LTR */
}
[dir="rtl"] .cart-block-summary-links li {
  border-left: solid 1px;
  border-right: 0 none;
  padding: 0 .75em 0 1em;
}

.cart-block-summary-links li:last-child {
  border-right: none; /* LTR */
  padding-right: 0; /* LTR */
}
[dir="rtl"] .cart-block-summary-links li:last-child {
  border-left: none;
  padding-left: 0;
  padding-right: inherit;
}
