{#
/**
 * @file
 * Default theme implementation to display the cart form.
 *
 * Outputs a hidden copy of the update cart button first, so pressing Enter
 * updates the cart instead of removing an item.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @ingroup themeable
#}
<div class="uc-default-submit">
  {{ form.actions.update }}
</div>

{{ form }}
