{#
/**
 * @file
 * Default theme implementation to display for an empty shopping cart page.
 *
 * @ingroup themeable
#}
<p class="uc-cart-empty">
  {% trans %}
    There are no products in your shopping cart.
  {% endtrans %}
</p>
