{#
/**
 * @file
 * Default theme implementation to display the checkout completion page.
 *
 * Available variables:
 * - order: The order that was completed.
 * - message: A message to display to the user.
 * - front_page: The URL of the front page.
 *
 * @ingroup themeable
#}

<p>{{ 'Your order is complete! Your order number is @number.'|t({'@number': order.id}) }}</p>

{{ message }}

<p><a href="{{ front_page }}">{{ 'Return to the front page.'|t }}</a></p>
