{#
/**
 * @file
 * Default theme implementation to display a price.
 *
 * Displays a price in the standard format and with consistent markup.
 *
 * Available variables:
 * - price: A formatted price.
 * - suffixes: An array of suffixes to be attached to this price.
 *
 * @ingroup themeable
#}
{% spaceless %}
<span class="uc-price">{{ price }}</span>
{% if suffixes is not empty %}
  <span class="price-suffixes">{{ suffixes|join(' ') }}</span>
{% endif %}
{% endspaceless %}
